body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html,body{
  overflow: hidden;
  background-color: rgb(10, 10, 10);
  color: white;
  height: 100%;
  user-select: none;
}

#root{
  height: 100vh;
}

.home{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  border-bottom: 1px solid rgb(51, 51, 51);
  background-color: rgb(27, 27, 27);
  @media screen and (max-width:500px) {
    min-height: 45px;
  }
}
.body{
  display: flex;
  overflow: hidden;
  height: 100%;
}

.bpanel{
  height: 100%;
  border-right: 1px solid rgb(51, 51, 51);
  position: relative;
}
.collapse{
  padding-top: 3px;
  cursor: pointer;
  @media screen and (max-width:500px) {
    padding-top: 2px;
  }
}
.colf{
  position: absolute;
  top: 7px;
  right: 10px;
}
.colt{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.collapse > img{
  width: 25px;
  @media screen and (max-width:500px) {
    width: 20px;
  }
}
.bpanelup{
  border-bottom: 1px solid rgb(51, 51, 51);
}
.bcontent{
  flex-grow: 1;
  overflow: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
*{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.streamnet{
  font-size: 25px;
  font-weight: 900;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 20px;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;


  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #ff96d2 0%, #784BA0 50%, #4fb4fc 100%);

  display: flex;
  justify-content: center;
  align-items: center;

  img{
    width: 30px;
    margin-right: 5px;
    margin-bottom: 1px;
  }

  @media screen and (max-width:500px) {
    font-size: 18px;
    img{
      width: 22px;
    }
  }
}
.searchbar{
  @media screen and (max-width:850px) {
    display: none;
  }
}
.searchbar > input{
  all:unset;
  font-size: 12px;
  height: 25px;
  width: 400px;
  border-radius: 7px;
  padding: 2px 10px 2px 10px;
  background-color: rgb(51, 51, 51);
}
.hlast{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.slogin,.login{
  padding: 8px;
  color: rgb(220, 220, 220);
}

.slogin{
  border: 1px solid rgb(112, 112, 112);
  margin-right: 10px;
  font-size: 13px;
}
.login{
  margin-left: 10px;
  margin-right: 30px;
  background-color: rgb(55, 55, 167);
  border-radius: 3px;
  font-size: 13px;
  cursor: pointer;
}
.item{
  display: flex;
  align-items: center;
  padding: 9px 0px 9px 0px;
  color: rgb(172, 172, 172);
  cursor: pointer;
  transition: background-color 200ms, width 200ms;

  @media screen and (max-width:500px) {
    padding: 7px 0 7px 0;
  }
}
.itemf{
  width: 220px;
  @media screen and (max-width:500px) {
    width: 170px;
  }
}
.itemt{
  width: 50px;
  @media screen and (max-width:500px) {
    width: 40px;
  }
}
.item:hover{
  background-color: rgb(0, 0, 91);
}
.activeitem,.activeitem:hover{
  background-color: rgb(63, 63, 63);
  color: rgb(230, 230, 230);
}
.icon{
  text-align: center;
}
.tmm{
  background:rgb(35,35,35);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
}
.icont{
  width: 100%;
}
.iconf{
  width: 20%;
}
.icon > img{
  border-radius: 50%;
  transition: width 200ms;
}
.iconimgt{
  width: 30px;
  @media screen and (max-width:500px) {
    width: 25px;
  }
}
.iconimgf{
  width: 25px;
  @media screen and (max-width:500px) {
    width: 20px;
  }
}
.itemname{
  width: 55%;
  font-size: 14px;

  @media screen and (max-width:500px) {
    font-size: 10px;
  }
}
.itemlive{
  width: 25%;
  color:red;
  font-size: 12px;
  text-align: right;
  margin-right: 5px;

  @media screen and (max-width:500px) {
    font-size: 8px;
    margin-right: 3px;
  }
}
.itemlive > span{
  color: rgb(189, 189, 189);
}
.panel{
  position: relative;
  background-color: rgb(47, 47, 47);
  background-size: cover;
  cursor: pointer;
  transition: width 200ms, height 200ms;
  width: 100%;
  height: 100%;
}
.as{
  position: absolute;
}
.plive{
  top: 10px;
  right: 20px;
  background-color: red;
  padding: 3px 5px 3px 5px;
  color: white;
  font-size: 12px;
  font-weight: 900;
  box-shadow: 5px 5px 10px rgb(48, 48, 48);
  @media screen and (max-width:500px) {
    font-size: 7px;
  }
}
.opacity{
  position: absolute;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  width: 100%;
  height: 100%;
  opacity: 1;
}

.mtitle{
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0px;
  padding: 10px 0 10px 0;
}
.micon > img{
  width: 40px;
  border-radius: 50%;
  @media screen and (max-width:500px) {
    width: 25px;
  }
}
.cs{
  @media screen and (max-width:500px) {
    font-size: 15px;
  }
}
.css{
  @media screen and (max-width:500px) {
    font-size: 6px;
  }
}
.micon{
  margin-right: 10px;
  padding-left: 10px;
  text-align: right;
}
.mpart{
  flex-grow: 70;
  /* background-color: yellow; */
}
.mvideotitle{
  margin-bottom: 10px;
  font-weight: 400;
}
.mvideotitleskeleton{
  min-width: 20px;
  min-height: 15px;
  border-radius: 5px;
  margin-right: 10px;
  background: linear-gradient(87deg, rgb(35,35,35) 10%, rgb(72, 72, 72) 50%, rgb(35,35,35) 100%);
  animation: 10s myskeleton linear;
}
.miconskeleton{
  min-width: 35px;
  min-height: 35px;
  border-radius: 50%;
  background:rgb(35,35,35);
}

@keyframes myskeleton {
  50%{
    background-position-x: 500px;
  }

  100%{
    background-position-x: 0;
  }
}

.frame{
  display: flex;
  width: 100%;
  height: 350px;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;

  @media screen and (max-width:900px) {
    height: 250px;
  }
  @media screen and (max-width:500px) {
    height: 200px;
  }
  @media screen and (max-width:400px) {
    height: 150px;
  }
  @media screen and (max-width:300px) {
    height: 100px;
  }
}
.rightAnim{
  animation-name: frame;
  animation-duration: 400ms;
}
@keyframes frame{
  from {transform: translate(500px,0) scale(0.9,0.9);}
  to {transform: translate(0,0) scale(1,1);}
}
.leftAnim{
  animation-name: frames;
  animation-duration: 400ms;
}
@keyframes frames{
  from {transform: translate(-500px,0) scale(0.9,0.9);}
  to {transform: translate(0,0) scale(1,1);}
}
.bigM{
  width: 50%;
  @media screen and (max-width:1200px) {
    width: 60%;
  }
  @media screen and (max-width:800px) {
    width: 190%;
  }
}
.smallM{
  margin-left: 5px;
  width: 25%;
  display: flex;
  flex-direction: column;

  @media screen and (max-width:1200px) {
   width: 40%;
  }
  @media screen and (max-width:800px) {
    display: none;  
  }
}
.smallM:nth-child(2){
  @media screen and (max-width:1200px) {
    display: none;
  }
}
.smallM > div{
  height: 100%;
}
.framecontainer{
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
}
.frameleft,.frameright{
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  z-index: 1;
}
.frameleft{
  margin-right: 5px;
}
.frameright{
  margin-left: 5px;
}
hr{
  width: 100%;
  border: 1px solid rgb(32, 32, 32);
  margin-bottom: 40px;
}
.hframe{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  height: 250px;
  @media screen and (max-width:700px) {
    height: 200px;
  }
  @media screen and (max-width:500px) {
    height: 250px;
  }
  @media screen and (max-width:380px) {
    height: 200px;
  }
}
.recommended{
  display: flex;
  flex-direction: column;
  margin: 20px 25px 0 25px;
}
.ttle{
  @media screen and (max-width:500px) {
    font-size: 13px;
  }
}
.hele{
  width: 23%;
  height: 60%;
  @media screen and (max-width:1200px) {
    width: 32%;
  }
  @media screen and (max-width:950px) {
    width: 48%;
  }
  @media screen and (max-width:500px) {
    width: 100%;
    height: 70%;
  }
}
.hele:nth-child(2){
  @media screen and (max-width:500px) {
    display: none;
  }
}
.hele:nth-child(3){
  @media screen and (max-width:950px) {
    display: none;
  }
}
.hele:nth-child(4){
  @media screen and (max-width:1200px) {
    display:none;
  }
}
.helestats{
  display: flex;
  padding-top: 10px;
}
.heletitle{
  font-size: 15px;
  color: rgb(207, 207, 207);
  @media screen and (max-width:500px) {
    font-size: 10px;
  }
}
.heleacccount{
  font-size: 12px;
  margin-top: 5px;
  color: gray;
  width: 70%;
  @media screen and (max-width:500px) {
    font-size: 8px;
  }
}
.c2{
  width: 85%;
}
.helemeta{
  font-size: 11px;
  margin-top: 5px;
  color: gray;
  @media screen and (max-width:500px) {
    font-size: 6px;
  }
}
.heleimg{
  width: 15%;
  text-align: center;
  cursor: pointer;
}
.heleimg > img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
/* .chead{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.chead > img{
  width: 70px;
  margin-left: 5px;
}
.chead > div{
  font-size: 25px;
  font-weight: 500;
  margin-left: 15px;
}
.cpanel{
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(37, 37, 37);
} */
.gamepanel{
  padding-top: 13px;
}
.gamepanel > img{
  border-radius: 10px;
}
.gpname{
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 700;

  @media screen and (max-width:1000px) {
    font-size: 11px;
  }
  @media screen and (max-width:800px) {
    font-size: 8px;
  }
}
.gpstat{
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
}
.label{
  display: flex;
  font-size: 13px;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 10px;

  @media screen and (max-width:500px) {
    font-size: 10px;
    .li>img{
      width: 20px;
    }
  }
}
.li>img{
  width: 25px;
}
.li{
  width: 20%;
  text-align: center;
}
.mi{
  width: 55%;
  color: rgb(183, 183, 183);
}
.duration{
  background-color: rgb(60, 60, 60);
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  border-radius: 3px;
  padding: 3px;
  @media screen and (max-width:500px) {
    font-size: 8px;
  }
}
.gametag{
  background-color: rgb(35, 35, 35);
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  padding: 3px;
}
.live{
  overflow: scroll;
  padding: 20px 25px 0 25px;
  width: 100%;
}
.livecontainer{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.livepanel{
  width: 24%;
  height: 25%;
  margin-right: 10px;
  margin-bottom: 10px;
  @media screen and (max-width:1200px) {
    height: 20%;
  }
  @media screen and (max-width:1000px) {
    width: 48%;
  }
  @media screen and (max-width:700px) {
    width: 95%;
    height: 20%;
  }
  @media screen and (max-width:500px) {
    width: 80%;
    height: 20%;
  }
}
.livet{
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 500;
  @media screen and (max-width:500px) {
    font-size: 13px;
  }
}
.videos{
  overflow: scroll;
  width: 100%;
  padding: 20px 25px 0 25px;
}
.videocontainer{
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.videost{
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 500;
  @media screen and (max-width:500px) {
    font-size: 13px;
  }
}
.videospanel{
  margin-bottom: 15px;
}
.games{
  overflow: scroll;
  width: 100%;
  padding: 20px 25px 0 25px;
}
.gamescontainer{
  display: flex;
  flex-wrap: wrap;
}
.gamest{
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 500;
  @media screen and (max-width:500px) {
    font-size: 13px;
  }
}
.gamespanel{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 19%;

  @media screen and (max-width:800px) {
    width: 32%;
  }
  @media screen and (max-width:350px) {
    width: 49%;
  }
}
.gst{
  width: 150px;
  height: 150px;

  @media screen and (max-width:1000px) {
    width: 100px;
    height: 100px;
  }
  @media screen and (max-width:800px) {
    width: 90px;
    height: 90px;
  }
  @media screen and (max-width:500px) {
    width: 80px;
    height: 80px;
  }
  @media screen and (max-width:350px) {
    width: 60px;
    height: 60px;
  }
}
.channel{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cchead{
  display: flex;
  align-items: center;
}
.cinfo{
  margin-left: 10px;
}
.cpfpimg > img{
  width: 80px;
  border-radius: 50%;
}
.ctitle{
  font-size: 18px;
  color: rgb(217, 217, 217);
  display: flex;
  @media screen and (max-width:500px) {
    font-size: 12px;
  }
}
.ctitle > div{
  margin-right: 5px;
}
.cmeta{
  font-size: 15px;
  color:gray;
  margin-top: 20px;
  @media screen and (max-width:500px) {
    font-size: 10px;
  }
}
.cmeta > span{
  color: rgb(217, 217, 217);
}
.tagscont{
  display: flex;
  margin-top: 10px;
}
.tags{
  background-color: gray;
  margin-left: 10px;
  font-size: 13px;
  padding: 7px;
  border-radius: 5px;
  background-color: rgb(50, 50, 50);
  color: rgb(218, 218, 218);
}
.channelhead{
  height: 20%;
  padding: 20px;
}
.channelfoot{
  height: 80%;
  padding-bottom: 100px;
  width: 100%;
}
.channelnavbar{
  display: flex;
}
.channelfoot > hr{
  margin: 0;
}
.cnavitem{
  padding: 15px 50px 15px 50px;
  font-size: 14px;
  color: rgb(193, 193, 193);
  cursor: pointer;
  border-bottom: 3px solid transparent;
}
.cniactive{
  border-bottom: 3px solid blue;
}
.channelbody{
  overflow: scroll;
  height: 100%;
  padding: 20px;
}
.vi{
  display: flex;
  width: 100%;
  word-wrap: break-word;
  overflow: scroll;
}
.vileft{
  width: 75%;
  overflow: scroll;
  @media screen and (max-width:1000px) {
    width: 100%;
  }
}
.videoholder{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.videotitle{
  font-size: 18px;
  font-weight: 500;
  margin: 20px;
  @media screen and (max-width:500px) {
    font-size: 10px;
  }
}
.videometa{
  font-size: 15px;
  margin: 20px;
  color: rgb(172, 172, 172);
  @media screen and (max-width:500px) {
    font-size: 8px;
  }
}
.vileft > hr{
  margin-top: 30px ;
  margin-bottom: 0;
}
/* .metaholder{
  background-color: red;
} */
.viright{
  display: flex;
  flex-direction: column;
  width: 25%;
  border-left: 1px solid rgb(51, 51, 51);
  @media screen and (max-width:1000px) {
    display: none;
  }
}
.chathead{
  text-align: center;
  border-bottom: 1px solid rgb(51, 51, 51);
  font-size: 18px;
  padding: 10px 0 10px 0;
}
.chatbody{
  height: 90%;
  overflow: scroll;
  display: flex;
  justify-content: center;

  img{
    width: 200px;
  }
}
.chatinput{
  height: 10%;
  border-top: 1px solid rgb(51, 51, 51);
  flex-grow: 5;
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
}
.chatinput > input{
  all: unset;
  background-color: rgb(37, 37, 37);
  padding: 10px;
  width: 75%;
  font-size: 12px;
  border-radius: 10px;
}
.cisend{
  background-color: rgb(170, 170, 170);
  margin-left: 10px;
  padding: 4px;
}
.cisend > img{
  width: 20px;
}
.chats{
  padding: 10px 0 10px 10px;
  display: flex;
  align-items: center;
}
.chaticon > img{
  width: 25px;
  border-radius: 50%;
}
.chatusername{
  margin-left: 10px;
  font-size: 14px;
  color: rgb(190, 190, 190);
}
.chatmessage{
  font-size: 13px;
  margin-left: 5px;
}
.streamers{
  width: 100%;
  overflow: scroll;
  padding: 30px;
  padding-right: 0;
}
.stitle{
  font-size: 18px;
  font-weight: 500;
  @media screen and (max-width:500px) {
    font-size: 13px;
  }
}
.scont{
  display: flex;
  flex-wrap:wrap;
  justify-content:left;

  @media screen and (max-width:500px) {
    justify-content: space-around;
  }
}
.card{
  background-color: rgb(25, 25, 25);
  padding: 15px;
  border-radius: 10px;
  margin-top: 30px;
  margin-right: 10px;
  transition: background-color 200ms;
  cursor: pointer;
  width: 200px;

  @media screen and (max-width:1210px) {
    width: 150px;
  }
  @media screen and (max-width:500px) {
    width: 120px;
    padding: 5px;
    padding-bottom: 10px;
  }
}
.card:hover{
  background-color: rgb(57, 57, 57);
}
.cardimg{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardimg > img{
  border-radius: 50%;
  width: 130px;
  height: 130px;
  @media screen and (max-width:500px) {
    width: 80px;
    height: 80px;
  }
}
.cardname{
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
  @media screen and (max-width:500px) {
    font-size: 10px;
  }
}
.cardmeta{
  font-size: 11px;
  text-align: center;
  margin-top: 5px;
  @media screen and (max-width:500px) {
    font-size: 7px;
  }
}
.cardmeta > img{
  transform: translateY(3px);
  margin-right: 5px;
  margin-left: 10px;
}
.card > hr{
  border: 1px solid rgb(61, 61, 61);
  margin: 0;
  margin-top:7px;
}
.cardfollow{
  font-size: 12px;
  text-align:center;
  font-weight: 400;
  @media screen and (max-width:500px) {
    font-size: 9px;
  }
}
.cardfollow > img{
  transform: translateY(6px);
  margin-right: 5px;
}
.headeruser{
  margin-right: 20px;
  
  img{
    width: 35px;
    border-radius: 50%;
    border: 1px solid gray;
    cursor: pointer;
    margin-top: 5px;
  }

  @media screen and (max-width:500px) {
    margin-right: 10px;
    img{
      width: 30px;
    }
  }
}
.huserpopup{
  position:fixed;
  z-index: 1;
  background-color: rgb(56, 56, 56);
  right: 20px;
  border: 3px solid rgb(115, 115, 115);
  animation: 100ms popup linear;
  top:auto;
  transform-origin: top right;
  
  img{
    width: 70px;
    border-radius: 50%;
    text-align: center;
  }
  div{
    text-align: center;
  }

  @media screen and (max-width:500px) {
    img{
      width: 50px;
    }
  }
}
@keyframes popup {
  from{
    transform:scale(0.5);
  }
  to{
    transform: scale(1);
  }
}
.huseremail{
  color: rgb(191, 191, 191);
  font-size: 12px;
  @media screen and (max-width:500px) {
    font-size: 10px;
  }
}
.huserlogout{
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;

  img{
    width: 24px;
    margin-right: 10px;
  }
  @media screen and (max-width:500px) {
    font-size: 12px;
    padding: 5px;
  }
}
.huserpopuphead{
  background-color: rgb(81, 81, 81);
  padding: 20px 30px 20px 30px;
}
.huserlogout:hover{
  color: rgb(136, 136, 255);
}
.golive{
  width: 100%;
  div{
    text-align: center;
  }
}
.golivebox{
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(87deg, rgba(240,0,0,1) 24%, rgba(22,4,232,1) 47%, rgba(184,13,193,0.987079866126138) 75%);
  width: 448px;
  height: 252px;
  display: flex;
  justify-content: center;
  align-items: center;

  div{
    font-size: 25px;
    color: gray;
  }
}
.goliveboxanim{
  animation : 1s borderanim ease-in-out infinite;
}

@keyframes borderanim {
  0%{
    border-image-source: linear-gradient(87deg, rgba(240,0,0,1) 24%, rgba(22,4,232,1) 47%, rgba(184,13,193,0.987079866126138) 75%);
  }
  50%{
    border-image-source: linear-gradient(87deg, rgba(184,13,193,0.987079866126138) 21%, rgba(240,0,0,1) 51%, rgba(22,4,232,1) 78%);
  }
  100%{
    border-image-source: linear-gradient(87deg, rgba(240,0,0,1) 24%, rgba(22,4,232,1) 47%, rgba(184,13,193,0.987079866126138) 75%);
  }
}
.goliveenable{
  font-size: 18px;
  background-color: rgb(0, 150, 17);
  border-radius: 5px;
  /* padding: 10px; */
  color: rgb(207, 207, 207);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  transition: all 250ms;

  img{
    width: 40px;
  }
}
.goliveenable:active{
  background-color: rgb(0, 62, 7);
}
.golivenablejoined{
  background-color: rgb(178, 7, 7);
}
.golivecontainer{
  background-color: rgb(25, 25, 36);
  width: 100%;
  height: 100%;
  display: flex;
}
.glright{
  flex-grow: 1;
  img{
    width: 200px;
  }
}
.glrhead{
  text-align: center;
  padding: 10px;
  background-color: rgb(50, 50, 50);
  color: rgb(176, 176, 176);
}
.glrbubble{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  flex-direction: column;
}
.glleft{
  border-right: 1px solid rgb(45, 45, 45);
  padding: 30px;
}
.gllup,.glldown{
  background-color: rgb(39, 39, 54);
  display: flex;
  padding: 20px;
  border-radius: 15px;
}
.txx,.tx{
  width:450px;
  height: 254px;
  border-radius: 5px;
  border: 1px solid rgb(82, 82, 82);
}
.txx{
  border: none;
  background-color: black;
  margin-right: 20px;
}
.tx{
  display: flex;
  color: rgb(87, 87, 87);
  align-items: center;
  div{
    margin-left: 10px;
    div{
      padding: 2px;
    }
  }
}
.glldown{
  flex-direction: column;
  margin-top: 30px;
  background-color: rgb(29, 29, 41);

  input{
    all: unset;
    margin-top: 30px;
    border-bottom: 1px solid rgb(63, 63, 63);
    font-size: 17px;
    transition: all 250ms;
    color: rgb(201, 201, 201);
  }
  input:focus{
    border-bottom: 1px solid rgb(255, 255, 255);
  }
}
.rplayer{
  width: 100%;
  height: 100%;
}
.joinlivebox{


  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(87deg, rgba(240,0,0,1) 24%, rgba(22,4,232,1) 47%, rgba(184,13,193,0.987079866126138) 75%);
  display: flex;
  justify-content: center;
  align-items: center;

  div{
    font-size: 25px;
    color: gray;
  }

  background-color: black;
  border: 5px solid rgb(87, 87, 87);

  height: 485px;

  @media screen and (max-width:1200px) {
    height: 400px;
  }
  @media screen and (max-width:700px) {
    height: 250px;
  }
  @media screen and (max-width:500px) {
    height: 200px;
    border: 2px solid rgb(87, 87, 87);
  }
  @media screen and (max-width:400px) {
    height: 150px;
  }
  @media screen and (max-width:310px) {
    height: 110px;
  }
}
.pview{
  width: 100%;
  height: 100%; 
 }
 .cview{
   width: 100%;
   height: 100%; 
  }
  .sview{
   width: 100%;
   height: 100%; 
  }
.hiconskeleton{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background:rgb(35,35,35);
}
.loadingskeleton{
  position: relative;
  background:rgb(35,35,35);
  min-height: 15px;
  overflow: hidden;
  border-radius: 10px;
}
.loadingskeleton:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(35,35,35) 10%, rgb(48, 48, 48), rgb(35,35,35) 100%);
  animation: waveAnimation 1s linear infinite;
}

.psk:before{
  background: linear-gradient(90deg, rgb(35,35,35) 10%, rgb(39, 39, 39) 50%, rgb(35,35,35) 100%);
}

@keyframes waveAnimation {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
.playlive{
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 150px;
    @media screen and (max-width:500px) {
      width: 60px;
    }
  }
}
.btngolive{
  color-scheme: light only;
  cursor: pointer;
  padding: 3px 15px 3px 15px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-size: 13px;
  margin-right: 80px;
  margin-top: 3px;
  width: 60px;
  justify-content: center;

  img{
    width: 23px;
    margin-right: 5px;
  }

  @media screen and (max-width:500px) {
    margin-right: 30px;
    width: 40px;
    font-size: 10px;
    padding: 1px 15px 1px 15px;
  }
}
.setanim{
  animation: 5s btnanim infinite;
}

@keyframes btnanim {
  0%{
    background-position-x: 0px;
  }
  50%{
    background-position-x: 200px;
  }
  100%{
    background-position-x: 0px;
  }
}
.cardimg{
  width: 130px;
  height: 130px;
  border-radius: 50%;
}